

.mucisa-footer {
  max-width: 100%;
  background-color: var(--primary);
  color: #f4f4f4;
  text-align: center;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.footer-content h3 {
  margin: 0 0 5px 0;
  font-weight: 600;
}

.footer-content p {
  margin: 5px 0;
  font-size: 16px;
}

@media (max-width:768px){
  .footer-content p{
  font-size: 12px;
  }
}